* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Karla';
    background-color: #E8E8E8;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 46.875rem;
    max-height: 37.5rem;  
    display: grid;
    gap: 0px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;  
}

/* Estilização do primeiro card */

.card-one {
   background-color: #EBEEF2; 
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 3;
   border-radius: 10px 10px 0 0;
}

.description-one, .description-two, .description-tree {
    width: auto;
    margin: 3.125rem;
}

.description-one h2 {
    font-size: 1.8125rem;
    padding-bottom: 1.875rem;
    color: #5444da;
}

.description-one h3 {
    color:#5444da;
    padding-bottom: 1.5rem;
    font-size: 1.5625rem;
} 

.description-one p {
    color: #2f2828be;
    font-size: 1.125rem;
    line-height: 1.6;
}

/* Estilização do segundo card */

.card-two {
    background-color:#5444da;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    border-radius: 0px 0px 0px 10px;
}

.description-two h2 {
   margin-bottom: 1.25rem;
   color: #FFFFFF;
}

.price {
    display: flex;
    align-items: center;
}

.value {
    font-size: 1.875rem;
    color: #FFFFFF;
    margin-bottom: 0.625rem;
}

.Month {
    padding-left: 0.625rem;
    color: #e7e0e07e;
    margin-bottom: 0px;
}

 .acess {
    color: #FFFFFF;
    margin-bottom: 1.875rem;
}

 /* Estilização do button */

button {
    margin-top: 2.5rem;
}

.btn {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 3.4375rem;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  .btn:hover {
    background-position: 100% 0;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn.btn2 {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.507);
  }

/* Estilização do terceiro card */

.card-tree {
    background-color:#765aed; 
    grid-row-start: 2;
    grid-column-start: 2; 
    grid-row-end: 3;
    grid-column-end: 3;
    border-radius: 0px 0px 10px 0px;
}

.card-tree h2 {
    margin-bottom: 1.25rem;
    color: #FFFFFF;
}

.card-tree p {
    color: #FFFFFF;
    line-height: 1.6;
    text-align: left;
    width: 90%;
    font-size: 17px;
}

/* Aplicação para dispositivos moveis */

@media only screen and (min-width:375px) and (max-width:770px) {
    section {
        margin: 0.3125rem;
    }
}

@media only screen and (max-width:610px) {
    section {
        display: flex;
        flex-direction: column;
        margin: 0.3125rem;
    }

    .card-tree {
        border-radius: 0px 0px 10px 10px;
    }
    .card-two {
        border-radius: 0;
    }
}
